footerHeight = 100px;
viewWidth = 80%;
paddingSize = 40px;

#main  
    background-color: backgroundColor
    height: 100%;
    float: right;
    width: viewWidth;
    margin: 0;
    padding: 0;
    z-index: 0;    

.pages
    min-height: "calc(100% - %s)" % footerHeight;
    border-top: 6px solid highlightColor;
    padding: paddingSize;
    box-sizing: border-box;

#footer
    height: footerHeight;
    background-color: shade(backgroundColor, 60%)
    width: 100%;
    padding: paddingSize;
    box-sizing: border-box;
    color: white;
    font-family: headers;
    box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.4);

@media (max-width: midWidth)
    #main
        width: "calc(100% - %s)" %headerWidth;

    .pages
        padding: paddingSize - 20px;

    #footer
        padding: paddingSize - 20px;

@media (max-width: lowWidth)
    #main
        width: 100%;
        margin-top: headerHeight;
        height: "calc(100% - %s)" %headerHeight;
