backgroundColor = #ffffff
highlightColor = #B82223
midColor = #091221

midWidth = 764px;
lowWidth = 550px;

headerWidth = 153px;
headerHeight = 50px;
headers = 'Alegreya Sans SC', sans-serif;

@font-face
    font-family general
    font-style bold
    src url(fonts/Lora-Regular.ttf)