#header
    background-color: midColor;
    position: fixed;
    z-index: 1;
    float: left;
    width: 20%;
    min-width: headerWidth;
    height: 100%;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    text-align: center;   
    overflow: auto;


#title-container
    width: 100%;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;

#title
    color: white;
    font-family: headers;
    font-size: 40px;
    line-height: 30px;
    margin-top: -5px;

#menu
    padding-top: 20px;
    box-sizing: border-box;
    align-items: center;
    background: midColor;
    width: 100%;


/* --- BUTTON STYLE ---*/
.header-button-divider
    content: "";
    height: 1px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%, highlightColor 50%,rgba(0,0,0,0) 100%);
    display: block;

.header-button
    color: white;
    font-family: headers;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 100%;

.header-button-active
    background-color: highlightColor;

.header-button:hover
    background: highlightColor;
    cursor: pointer;

@media (max-width: lowWidth)
	#header
        position: fixed;
        width:100%;
        min-width: 320px;
        height: headerHeight;
        padding: 0;
        text-align: left;
        overflow: visible;
        
    #title-container
        padding: 15px;
        padding-left: 18px;

    #menu
        display: none