@import 'general'

@import 'body'
@import 'header'
@import 'hamburger'
@import 'page'

html, body 
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: general;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    
::-moz-selection 
    background: highlightColor;
    color: backgroundColor;

::selection
    background: highlightColor;
    color: backgroundColor;