/* Specify the format for markdown */
contentPadding = 20px;

.pages h1, h2
    font-family: headers;

.pages a
    color: highlightColor;

/* For code blocks: */
.pages pre
    background-color: shade(backgroundColor, 10%);
    padding: contentPadding;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);

.pages blockquote
    padding: contentPadding;
    margin: 0;
    border-left: 5px solid highlightColor;

.pages blockquote p
    margin-top: 5px;
    margin-bottom: 5px;