@font-face {
  font-family: headers;
  font-style: bold;
  src: url("fonts/adam-cg-pro.otf");
}
@font-face {
  font-family: general;
  font-style: bold;
  src: url("fonts/Lora-Regular.ttf");
}
#main {
  background-color: #fff;
  height: 100%;
  float: right;
  width: 80%;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.pages {
  min-height: calc(100% - 100px);
  border-top: 6px solid #b82223;
  padding: 40px;
  box-sizing: border-box;
}
#footer {
  height: 100px;
  background-color: #666;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  font-family: headers;
  box-shadow: 0px -2px 3px 0px rgba(0,0,0,0.4);
}
@media (max-width: 720px) {
  #main {
    width: calc(100% - 153px);
  }
  .pages {
    padding: 20px;
  }
  #footer {
    padding: 20px;
  }
}
@media (max-width: 550px) {
  #main {
    width: 100%;
    margin-top: 70px;
    height: calc(100% - 70px);
  }
}
#header {
  background-color: #091221;
  position: fixed;
  z-index: 1;
  float: left;
  width: 20%;
  min-width: 153px;
  height: 100%;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  text-align: center;
  overflow: auto;
}
#title-container {
  width: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
#title {
  color: #fff;
  font-family: headers;
  font-size: 40px;
  line-height: 30px;
  margin-top: -5px;
}
#menu {
  padding-top: 20px;
  box-sizing: border-box;
  align-items: center;
  background: #091221;
  width: 100%;
}
.header-button-divider {
  content: "";
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, #b82223 50%, rgba(0,0,0,0) 100%);
  display: block;
}
.header-button {
  color: #fff;
  font-family: headers;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 100%;
}
.header-button-active {
  background-color: #b82223;
}
.header-button:hover {
  background: #b82223;
  cursor: pointer;
}
@media (max-width: 550px) {
  #header {
    position: fixed;
    width: 100%;
    min-width: 320px;
    height: 70px;
    padding: 0;
    text-align: left;
    overflow: visible;
  }
  #title-container {
    padding: 15px;
    padding-left: 18px;
  }
  #menu {
    display: none;
  }
}
#hamburger {
  display: none;
  float: right;
  margin-top: 7px;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
@media (max-width: 550px) {
  #hamburger {
    display: block;
  }
}
.pages {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.pages h1,
h2 {
  font-family: headers;
}
.pages a {
  color: #b82223;
}
.pages pre {
  background-color: #e5e5e5;
  padding: 20px;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.4);
}
.pages blockquote {
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  border-left: 5px solid #b82223;
}
.pages blockquote p {
  margin: 0px;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: general;
}
::-moz-selection {
  background: #b82223;
  color: #fff;
}
::selection {
  background: #b82223;
  color: #fff;
}
