@font-face {
  font-family: headers;
  font-style: bold;
  src: url("fonts/adam-cg-pro.otf");
}
#main {
  background-color: #fff;
  height: 100%;
  float: right;
  width: 80%;
  margin: 0;
  padding: 0;
  z-index: 0;
}
#container {
  padding: 0;
  margin: 0;
  overflow: auto;
  height: 100%;
  width: 100%;
}
#pages {
  min-height: calc(100% - 100px);
  border-top: 6px solid #b82223;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}
#footer {
  height: 100px;
  background-color: #4c4c4c;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  box-sizing: border-box;
  color: #fff;
  font-family: headers;
}
#header {
  background-color: #091221;
  position: fixed;
  z-index: 1;
  float: left;
  width: 20%;
  height: 100%;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
  text-align: center;
  min-width: 145px;
}
#header-container {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
#title {
  padding-top: 10px;
  color: #fff;
  font-family: headers;
  font-size: 40px;
}
#menu {
  padding-top: 20px;
  box-sizing: border-box;
  align-items: center;
}
.header-button:before,
.header-button:after {
  content: "";
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, #b82223 50%, rgba(0,0,0,0) 100%);
  display: block;
}
.header-button {
  color: #fff;
  font-family: headers;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
  width: 100%;
}
.header-button:hover {
  background: #b82223;
  cursor: pointer;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
